doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Automobile Service Center
        style 
         include ../cascading/index.css
          
    body 
     section.navbar 
      div.logo 
       h3 MANI
       P Computarized <br> Auto Service 
      div.links 
       a(href="#services") Services
       a(href="#aboutus") About Us 
       a(href="/manitips") Mani's Tips
       a(href="/home") FAQ
       a(href="#contact") contact 
       button Requiste a quote
     section.mainpage 
      div.mainpara 
       div.heading COMPLETE <br> COMPUTERIZED AUTO <br> SERVICE AND MAINTENANCE 
       div.para Costumer Satisfaction Guaranteed
       button Contact Us
     section#services 
      h2 Our Services  
      div.servicebox 
       div#battery.service
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRkAx0p7Sv8Bve9MyqOUiU2dk6pEaH1rrwCg&usqp=CAU", alt="Your Internet Connection is weak") 
        p  Car Battery Repair and Replacement 
       div#tire.service
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEKXxR0SFeWBTjALd33k6yvBrhH9pHQeo8bQ&usqp=CAU", alt="Your Internet Connection is weak")
        p Tires Repair and Replacement 
       div#ac.service
        img(src="https://www.pinclipart.com/picdir/middle/156-1563511_air-conditioner-atmosphere-heat-appliance-ventilator-air-conditioner.png", alt="Your Internet is weak")
        p A/C repair  
       div#transmission.service
        img(src="https://cdn4.iconfinder.com/data/icons/car-parts-14/32/Car_automobile_transmission_gear_box-512.png", alt="Your Internet connection is weak") 
        p Transmission System Repair
       div#wheel.service
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlLNIBwtloSBsfrxixMg8NtO05pviEixFwgg&usqp=CAU", alt="Your Internet connection is weak")
        p Wheel Alignment
       div#engine.service 
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy7qA8LIMYaWadS__B0cs8sybCG2C7R-lp0A&usqp=CAU", alt="Your Internet connection is weak")
        p Engine Repair(Both Desiel and Petrol)
       div#brake.service
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuwkGf_GQvX34OX-cE6d1vjX0s-r7oy3D1jg&usqp=CAU", alt="Your Internet connection is weak")
        p Brake System Repair
      div.button 
       button#btn Know More
     section#aboutus 
      div.infobox 
       h2 About Mani's Auto Service   
       h1 WE PROVIDE THE BEST <br>SERVICE FOR OVER 15 YEARS 
       div.parabox 
        div.text 
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit rem in quisquam ipsa numquam quam omnis at architecto beatae, laudantium dignissimos itaque. Blanditiis ratione iste voluptate aperiam et quis velit aliquid laboriosam provident distinctio, quas culpa amet, vero magni facilis? Veniam hic in architecto maiores!
         a(href="/home")  Read More>>
        img(src="https://media.istockphoto.com/vectors/mechanic-in-repair-shop-vector-id165913299?b=1&k=20&m=165913299&s=612x612&w=0&h=7Mmw32hkfCRpw9peKATk2zjGc4PlGlgjtd9XtoQTQGU=", alt="Check Your Internet Connection") 
     section#reviews 
      div.testimonials 
       h2 What Our Satisfied Clients Have to Say
       img(src="https://images.ctfassets.net/33n6gwydcv8y/5baEc7ZISMkYP9nHVZpklO/5bdf46f27ffc65a3697cfd9c9be71ad5/car-service-history.png?w=992", alt="Check Internet Connection")
       div.reviewbox 
        div.reviewcard 
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt, quae eum nihil porro saepe quaerat cum nostrum, voluptate laudantium totam reiciendis, omnis accusantium vero!
         h3 Hardik Rathi
        div.reviewcard 
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt, quae eum nihil porro saepe quaerat cum nostrum, voluptate laudantium totam reiciendis, omnis accusantium vero!
         h3 Dev Madan       
        div.reviewcard  
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt, quae eum nihil porro saepe quaerat cum nostrum, voluptate laudantium totam reiciendis, omnis accusantium vero!
         h3 Aditya Ray
     section#contact 
      div.contactbox 
       div.logo 
        h3 MANI
        P Computarized <br> Auto Service 
       div.adress 
        h3 Contact Us 
        div.adressbox 
         div.pin Call us on 123-456-7890<br>info@mysite.com
         div.pin 500 Terry Francois Street<br>San Francisco, CA 94158
         div.pin Mon- Fri:  8am- 6pm <br>Saturday: 8am-1pm
       div.social 
        div.fti 
         img(src="http://localhost/public/ig.png", alt="Check Your Internet Connection")
         a(href="") Instagram 
        div.fti 
         img(src="http://localhost/public/fb.png", alt="Check Your Internet Connection")
         a(href="") Facebook 
        div.fti 
         img(src="http://localhost/public/tt.png", alt="Check Your Internet Connection")
         a(href="") Tweeter 
        