doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MANI's Tips
        style 
         include ../cascading/manitips.css
    body 
     section.navbar 
      div.logo 
       h3 MANI
       P Computarized <br> Auto Service 
      div.links 
       a(href="http://localhost/home#services") Services
       a(href="http://localhost/home#aboutus") About Us 
       a(href="#tips") Mani's Tips
       a(href="/home") FAQ
       a(href="#contact") contact 
       button Requiste a quote
     section#tips 
      div.box
       h2 Mani's Tips for a Smooth Ride
       div.tipbox 
        div.tips
         h4 Get your car ready for the winter
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 The secret for an optimal engine performance
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 Car paint- all the ways to handle scratches and damages
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 10 tips for a smooth road trip
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 Learn everything about Variable Valve Timing (VVT)
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 Never use this type of engine oil additive in your car
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 Get your car ready for the winter
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
        div.tips
         h4 Get your car ready for the winter
         p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto repudiandae incidunt, reprehenderit earum consectetur, aliquam necessitatibus eligendi culpa accusantium nulla quibusdam eaque quo? Exercitationem, hic!
       



















     section#contact 
      div.contactbox 
       div.logo 
        h3 MANI
        P Computarized <br> Auto Service 
       div.adress 
        h3 Contact Us 
        div.adressbox 
         div.pin Call us on 123-456-7890<br>info@mysite.com
         div.pin 500 Terry Francois Street<br>San Francisco, CA 94158
         div.pin Mon- Fri:  8am- 6pm <br>Saturday: 8am-1pm
       div.social 
        div.fti 
         img(src="http://localhost/public/ig.png", alt="Check Your Internet Connection")
         a(href="") Instagram 
        div.fti 
         img(src="http://localhost/public/fb.png", alt="Check Your Internet Connection")
         a(href="") Facebook 
        div.fti 
         img(src="http://localhost/public/tt.png", alt="Check Your Internet Connection")
         a(href="") Tweeter 
          